
.clear{}

* {font-family:  'Arial', 'Helvetica Neue', Helvetica, sans-serif;
   font-size: 18px; content: #ebebeb; 
   padding: 50px 30px 50px 80px;
   text-align: center;
   }

body { width: 1160px; 

}

h1{background: #777;
	margin-bottom: 20px;
	
	}

nav{background: #777;
 margin-bottom: 20px;
 
}

footer {background: #777;
		margin-top: 20px;
		
}

div { background: yellow; }


section { background: pink;
		width: 450px;
 margin-left: -60px;
 margin-bottom: 20px;
} 

aside {background: red;
	position: absolute;
	top: 451px;
	bottom: -680px;
	margin-left: 525px;
	width: 370px;
}

article {background: blue;}



h2 {background: #777;}

h3 {background: #777;}

h4 {background: #777;}

p {background: #777;}